.image {

  &__thumbnail {
    height: 150px;
    max-width: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.search-result {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  &__image {

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1rem;
    width: 100%;

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      margin-left: 15px;
      margin-top: 10px;
      font-weight: lighter;
    }

    &__header {
      font-size: 1.05rem;
    }
  }

  &__actions {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


