<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dream Cars</span>
  <ul>
    <li><a routerLink="/about"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">About</a></li>
    <li><a routerLink="/create"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Create</a></li>
    <li><a routerLink="/search"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Search</a></li>
  </ul>
</mat-toolbar>

