<mat-card>
  <form #auctionForm="ngForm" (ngSubmit)="onSubmit(auctionForm)">
    <mat-card-header><h3>Podstawowe informacje</h3></mat-card-header>

    <mat-card-content class="form">
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Marka</mat-label>
        <mat-select
          name="brand"
          required
          ngModel
          (ngModelChange)="onBrandChange()"
        >
          <mat-option *ngFor="let brand of brands" [value]="brand.name">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Model</mat-label>
        <mat-select
          name="model"
          required
          ngModel
          [disabled]="!auctionForm.value.brand"
        >
          <mat-option *ngFor="let model of availableModels" [value]="model.name">
            {{ model.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Typ</mat-label>
        <mat-select
          name="type"
          required
          ngModel
        >
          <mat-option *ngFor="let type of vehicleTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>VIN</mat-label>
        <input
          matInput
          name="VIN"
          ngModel
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Numer rejestracyjny</mat-label>
        <input
          matInput
          name="registration_number"
          ngModel
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Rok produkcji</mat-label>
        <input
          matInput
          name="production_year"
          ngModel
          type="number"
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Pojemność silnika</mat-label>
        <input
          matInput
          name="engine_capacity"
          ngModel
          type="number"
          required
        >
        <span matSuffix>cm3</span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Moc silnika</mat-label>
        <input
          matInput
          name="engine_power"
          ngModel
          type="number"
        >
        <span matSuffix>KM</span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Skrzynia biegów</mat-label>
        <mat-select
          name="gearbox"
          ngModel
          required
        >
          <mat-option *ngFor="let gearbox of vehicleGearbox" [value]="gearbox">
            {{ gearbox }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Napęd</mat-label>
        <mat-select
          name="drive_system"
          ngModel
        >
          <mat-option *ngFor="let driveSystem of vehicleDriveSystems" [value]="driveSystem">
            {{ driveSystem }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Kolor</mat-label>
        <mat-select
          name="color"
          ngModel
        >
          <mat-option *ngFor="let color of vehicleColors" [value]="color">
            {{ color }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Rodzaj koloru</mat-label>
        <mat-select
          name="color_type"
          ngModel
        >
          <mat-option *ngFor="let colorType of vehicleColorTypes" [value]="colorType">
            {{ colorType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Cena</mat-label>
        <input
          matInput
          name="price"
          ngModel
          type="number"
          required
        >
        <span matSuffix>PLN</span>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="form__actions">
      <button
        mat-stroked-button
        type="reset"
        (click)="onReset(auctionForm)">Wyczyść formularz</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!auctionForm.valid"
      >Wystaw ogłoszenie</button>
    </mat-card-actions>
  </form>
</mat-card>
