<mat-card>
  <form #createAuctionForm>
    <mat-card-header><h3>Podstawowe informacje</h3></mat-card-header>

    <mat-card-content class="form">
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Marka</mat-label>
        <mat-select [(ngModel)]="auctionData.brand" (ngModelChange)="onBrandChange()" name="vehicleBrand">
          <mat-option *ngFor="let brand of vehicleBrands" [value]="brand.name">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="auctionData.model" name="vehicleModel">
          <mat-option *ngFor="let model of availableModels" [value]="model.name">
            {{ model.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Typ</mat-label>
        <mat-select [(ngModel)]="auctionData.type" name="vehicleType">
          <mat-option *ngFor="let type of vehicleTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>VIN</mat-label>
        <input matInput [(ngModel)]="auctionData.VIN" name="vehicleVIN">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Numer rejestracyjny</mat-label>
        <input matInput [(ngModel)]="auctionData.registration_number" name="registrationNumber">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Rok produkcji</mat-label>
        <input matInput [(ngModel)]="auctionData.production_year" type="number" name="vehicleProductionYear">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Pojemność silnika</mat-label>
        <input matInput [(ngModel)]="auctionData.engine_capacity" type="number" name="engineCapacity">
        <span matSuffix>cm3</span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Moc silnika</mat-label>
        <input matInput [(ngModel)]="auctionData.engine_power" type="number" name="enginePower">
        <span matSuffix>KM</span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Skrzynia biegów</mat-label>
        <mat-select [(ngModel)]="auctionData.gearbox" name="vehicleGearbox">
          <mat-option *ngFor="let gearbox of vehicleGearbox" [value]="gearbox">
            {{ gearbox }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Napęd</mat-label>
        <mat-select [(ngModel)]="auctionData.drive_system" name="vehicleDriveSystem">
          <mat-option *ngFor="let driveSystem of vehicleDriveSystems" [value]="driveSystem">
            {{ driveSystem }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Kolor</mat-label>
        <mat-select [(ngModel)]="auctionData.color" name="vehicleColor">
          <mat-option *ngFor="let color of vehicleColors" [value]="color">
            {{ color }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Rodzaj koloru</mat-label>
        <mat-select [(ngModel)]="auctionData.color_type" name="vehicleColorType">
          <mat-option *ngFor="let colorType of vehicleColorTypes" [value]="colorType">
            {{ colorType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__field">
        <mat-label>Cena</mat-label>
        <input matInput [(ngModel)]="auctionData.price" type="number" name="vehiclePrice">
        <span matSuffix>PLN</span>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="form__actions">
      <button mat-stroked-button type="reset">Wyczyść formularz</button>
      <button mat-raised-button color="primary" (click)="createAuction()">Wystaw ogłoszenie</button>
    </mat-card-actions>
  </form>
</mat-card>
