@import "src/assets/scss/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  background-color: #3f51b5;
  color: #fff;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  &__column {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0;
    padding: 0 1rem;
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0.5rem 0;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }
}
